# Исключаем служебные файлы IDE и Python
.idea/
__pycache__/
*.pyc

# Исключаем локальные данные и результаты
data/
scripts/
validation_results/

# Исключаем системные файлы
.DS_Store

# Исключаем файлы контроля версий
.git/
.gitignore

# Исключаем локальные настройки
.envF